{% extends 'base.html.twig' %}

{% block title %}SteamIsh V3{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="text-center">SteamIsh V3</h1>

{#        <div class="row">#}
{#            {% for review in lastReviews %}#}
{#                <div class="col-lg-3">#}
{#                    {{ review.createdAt|date('d/m/Y') }}#}
{#                    {{ review.rating }}/5#}
{#                </div>#}
{#            {% endfor %}#}
{#        </div>#}

        {% include 'partials/_game_loop.html.twig' with {
            'title': 'Les dernières sorties',
            'games': lastGames
        } %}

        {% include 'partials/_game_loop.html.twig' with {
            'title': 'Les meilleures offres',
            'games': expensiveGames
        } %}

        {% include 'partials/_game_loop.html.twig' with {
            'title': 'Les tendances actuelles',
            'games': bestSellers
        } %}

        {% include 'partials/_game_loop.html.twig' with {
            'title': 'Les plus joués',
            'games': mostPlayedGames
        } %}
    </div>

{% endblock %}
