{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="container">
        <h1>Hello {{ controller_name }} !</h1>
        <a href="{{ path('app_home') }}">
            Home
        </a>
        <p>
            {% if message is defined %}
                {{ message }}
            {% endif %}
        </p>
    </div>

{% endblock %}
