{% extends 'base.html.twig' %}

{% block title %}Steamish v3!
{% endblock %}

{% block body %}
	<a href="{{ path("homepage") }}" rel="noopener noreferrer">
		Hello
	</a>

	<div class="container">
		<h1 class="text-center">Steamish v3</h1>

		<h2 class="text-center">Plus vendus</h2>
		{% include "partial/_gamecard.twig" with { "games": bestSellers, thumbnail: true } %}

		<h2 class="text-center">Les derniers jeux</h2>
		{% include "partial/_gamecard.twig" with { "games": latestGames } %}

		<h2 class="text-center">Les jeux les plus chers</h2>
		{% include "partial/_gamecard.twig" with { "games": mostExpensiveGames } %}

		<h2 class="text-center">
			Tout les jeux</h2>
		{% include "partial/_gamecard.twig" with { "games": allGames } %}

		<h2 class="text-center">Derniers commentaires</h2>
		{% for review in lastReviews %}
			<p>
				{{ review.content }}
			</p>
		{% endfor %}
	</div>
{% endblock %}
