{% if title is defined %}
    <h2 class="mt-5">{{ title }}</h2>
{% endif %}
<div class="row">
    {% for game in games %}
        {% include 'partials/_game_card.html.twig' with {
            'game': game
        } %}
    {% endfor %}
</div>
