{% extends 'front/base.html.twig' %}

{% trans_default_domain 'front' %}

{% block body %}

    <div class="container">
        <h1>{{ 'page.cart.title'|trans }}</h1>
        <a class="text-decoration-none" href="{{ path('app_clear_cart') }}">Vider mon panier</a>
        <div id="vue-root-container" class="mt-3" data-cart-games="{{ cartJson }}">

        </div>
    </div>

{% endblock %}
