{% extends 'base.twig' %}

{% block body %}
	<div class="container row py-5">

		<div class="col-md-6 mx-auto">
			<h1>Nouvelle catégorie</h1>

			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>
	</div>


{% endblock %}
