{% extends 'base-admin.html.twig' %}

{% block title %}Admin - Game{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="row">
                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_admin_game') }}">Jeux</a>
                </div>
                <div class="row">
                    <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_admin_category_new') }}">Categories</a>
                </div>
            </div>
            <div class="col-9"></div>
        </div>
    </div>
{% endblock %}
