{% extends 'base-admin.html.twig' %}

{% block title %}Admin - Game{% endblock %}

{% block body %}
    <div class="container">
        <a class="link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{{ path('app_admin')}}">Retour</a>
        {% include 'partials/_admin_game_loop.html.twig' with {
            'title': 'Tous les jeux : ',
            'games': games
        } %}

        <div class="navigation my-4" data-bs-theme="dark">
            {{ knp_pagination_render(games, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig')}}
        </div>
    </div>
{% endblock %}
