{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Jeux de la catégorie {{ category.name }}</h1>

        <div class="row">
            {% for game in pagination %}
                {% include "partials/_game_card.html.twig" with { game: game } %}
            {% endfor %}
        </div>

        <div class="navigation">
            {{ knp_pagination_render(pagination, "partials/_pagination.html.twig") }}
        </div>
    </div>

{% endblock %}

{% block title %}
    {{ category.name }}
{% endblock %}

