{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>Jeux de la catégorie {{ category.name }}</h1>

    </div>

{% endblock %}

{% block title %}
    {{ category.name }}
{% endblock %}

