{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(formRegister) }} {# <form> #}
        {{ form_end(formRegister) }} {# </form> #}
    </div>

{% endblock %}
