<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_home') }}">
			<img src="https://symfony.com/favicons/favicon.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
			Steamish v3
		</a>

		<a href="{{path('app_new_category')}}">Nouvelle catégorie</a>

		<a href="{{path('app_register')}}">S'inscrire</a>
	</div>
</nav>
